<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <table border="1" cellpadding="8">
            <tr>
                <th>Campo</th>
                <th>Información</th>
            </tr>
            <tr>
                <td>Curso</td>
                <td>{{curso}}</td>
            </tr>
            <tr>
                <td>Profesor</td>
                <td>{{profesor}}</td>
            </tr>
            <tr>
                <td>Sección</td>
                <td>{{seccion}}</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>{{fecha}}</td>
            </tr>
        </table>
    </body>
</html>